@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

// Globals
$body-font-family: "Montserrat", sans-serif;
$border-radius-root: 6px;
$font-size-root: 14px;
$bg-color: #1b347c;

// v-card
$card-outlined-border-width: unset;
// v-btn
$btn-font-weight: 600;
